<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Your-Title-Here" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="Your-Image-Url" />
	<meta property="og:description" content="Your-Page-Description" />
	<title>Tomorrow Media | Creative Agency</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="/assets/css/core.min.css" />
	<link rel="stylesheet" href="/assets/css/skin.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop home-page preload-page" data-loader-type="full-width-bar">

	<!-- Overlay Navigation Menu -->
	<div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
		<div class="overlay-navigation-scroll-pane">
			<div class="overlay-navigation-inner">
				<div class="v-align-middle">
					<div class="overlay-navigation-header row collapse full-width">
						<div class="column width-12">
							<div class="navigation-hide overlay-nav-hide">
								<a href="#">
									<span class="icon-cancel"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="row collapse full-width">
						<div class="column width-12">
							<nav class="overlay-navigation nav-block center">
								<ul>
									<li>
										<a href="index.html">Home</a>
									</li>
									<li class="current">
										<a href="#" class="contains-sub-menu">Work</a>
										<ul class="sub-menu">
											<li>
												<a href="index-two-columns.html">Two Columns</a>
											</li>
											<li>
												<a href="index-two-columns-with-slider.html">Two Columns With Slider</a>
											</li>
											<li class="current">
												<a href="index-three-columns.html">Three Columns</a>
											</li>
											<li>
												<a href="index-four-columns.html">Four Columns</a>
											</li>
											<li>
												<a href="index-four-columns-masonry.html">Four Columns Masonry</a>
											</li>
											<li>
												<a href="index-two-columns-alt-nav-2.html">Two Columns Alt Nav 2</a>
											</li>
											<li>
												<a href="index-two-columns-alt-nav-3.html">Two Columns Alt Nav 3</a>
											</li>
											<li>
												<a href="index-two-columns-alt-preload-2.html">Two Columns Alt Preloader 2</a>
											</li>
											<li>
												<a href="index-two-columns-alt-preload-3.html">Two Columns Alt Preloader 3</a>
											</li>
											<li>
												<a href="index-two-columns-alt-preload-4.html">Two Columns Alt Preloader 4</a>
											</li>
											<li>
												<a href="index-two-columns-alt-preload-5.html">Two Columns Alt Preloader 5</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="contains-sub-menu">Pages</a>
										<ul class="sub-menu">
											<li>
												<a href="about-style-one.html">About Original</a>
											</li>
											<li>
												<a href="about-style-two.html">About Style 2</a>
											</li>
											<li>
												<a href="about-style-three.html">About Style 3</a>
											</li>
											<li>
												<a href="contact-style-one.html">Contact Original</a>
											</li>
											<li>
												<a href="contact-style-two.html">Contact Style 2</a>
											</li>
											<li>
												<a href="contact-style-three.html">Contact Style 3</a>
											</li>
											<li>
												<a href="404.html">404</a>
											</li>
											<li>
												<a href="500.html">500</a>
											</li>
											<li>
												<a href="maintenance.html">Maintenance</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="contains-sub-menu">Blog</a>
										<ul class="sub-menu">
											<li>
												<a href="blog.html">Blog Grid</a>
											</li>
											<li>
												<a href="blog-alt.html">Blog Grid Alternative</a>
											</li>
											<li>
												<a href="blog-sidebar-right-with-media.html">Blog Index Sidebar Right</a>
											</li>
											<li>
												<a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
											</li>
											<li>
												<a href="blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
											</li>
											<li>
												<a href="blog-single-post-wide-no-sidebar.html">Single Post Without Sidebar</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="contains-sub-menu">Shop</a>
										<ul class="sub-menu">
											<li>
												<a href="shop-grid.html">Shop Grid</a>
											</li>
											<li>
												<a href="shop-creative.html">Shop Creative</a>
											</li>
											<li>
												<a href="shop-sidebar-right.html">Shop Sidebar Right</a>
											</li>
											<li>
												<a href="single-product.html">Single Product</a>
											</li>
											<li>
												<a href="single-product-center.html">Single Product Minimal</a>
											</li>
											<li>
												<a href="single-product-with-gallery.html">Product With Gallery</a>
											</li>
											<li>
												<a href="single-product-on-sale.html">Product On Sale</a>
											</li>
											<li>
												<a href="single-product-no-stock.html">Product Out Of Stock</a>
											</li>
											<li>
												<a href="cart.html">Cart</a>
											</li>
											<li>
												<a href="checkout.html">Checkout</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="contains-sub-menu">Projects</a>
										<ul class="sub-menu">
											<li>
												<a href="project-style-one.html">Project Style One</a>
											</li>
											<li>
												<a href="project-style-two.html">Project Style Two</a>
											</li>
											<li>
												<a href="project-style-three.html">Project Style Three</a>
											</li>
											<li>
												<a href="project-style-four.html">Project Style Four</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="contains-sub-menu">Elements</a>
										<ul class="sub-menu">
											<li>
												<a href="elements-accordions.html">Accordions</a>
											</li>
											<li>
												<a href="elements-buttons.html">Buttons</a>
											</li>
											<li>
												<a href="elements-feature-columns.html">Feature Columns</a>
											</li>
											<li>
												<a href="elements-footers.html">Footers</a>
											</li>
											<li>
												<a href="elements-forms.html">Forms</a>
											</li>
											<li>
												<a href="elements-lightbox.html">Lightbox</a>
											</li>
											<li>
												<a href="elements-maps.html">Maps</a>
											</li>
											<li>
												<a href="elements-pricing-tables.html">Pricing Tables</a>
											</li>
											<li>
												<a href="elements-progress-bars.html">Progress Bars</a>
											</li>
											<li>
												<a href="elements-rollovers.html">Rollovers</a>
											</li>
											<li>
												<a href="elements-signup-forms.html">Subscribe Forms</a>
											</li>
											<li>
												<a href="elements-slider.html">Slider</a>
											</li>
											<li>
												<a href="elements-tabs.html">Tabs</a>
											</li>
											<li>
												<a href="elements-testimonials.html">Testimonials</a>
											</li>
											<li>
												<a href="elements-video.html">Video</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="overlay-navigation-footer row full-width center">
						<div class="column width-12 no-padding">
							<p class="copyright">&copy; 2017 Tomorrow Media & Creative Marketing. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Overlay Navigation Menu End -->

	<!-- Side Navigation Menu -->
	<aside class="side-navigation-wrapper enter-left" data-no-scrollbar data-animation="slide-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation nav-block left">
					<ul>
						<li>
							<a href="index.html">Home</a>
						</li>
						<li class="current">
							<a href="#" class="contains-sub-menu">Work</a>
							<ul class="sub-menu">
								<li>
									<a href="index-two-columns.html">Two Columns</a>
								</li>
								<li>
									<a href="index-two-columns-with-slider.html">Two Columns With Slider</a>
								</li>
								<li class="current">
									<a href="index-three-columns.html">Three Columns</a>
								</li>
								<li>
									<a href="index-four-columns.html">Four Columns</a>
								</li>
								<li>
									<a href="index-four-columns-masonry.html">Four Columns Masonry</a>
								</li>
								<li>
									<a href="index-two-columns-alt-nav-2.html">Two Columns Alt Nav 2</a>
								</li>
								<li>
									<a href="index-two-columns-alt-nav-3.html">Two Columns Alt Nav 3</a>
								</li>
								<li>
									<a href="index-two-columns-alt-preload-2.html">Two Columns Alt Preloader 2</a>
								</li>
								<li>
									<a href="index-two-columns-alt-preload-3.html">Two Columns Alt Preloader 3</a>
								</li>
								<li>
									<a href="index-two-columns-alt-preload-4.html">Two Columns Alt Preloader 4</a>
								</li>
								<li>
									<a href="index-two-columns-alt-preload-5.html">Two Columns Alt Preloader 5</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Pages</a>
							<ul class="sub-menu">
								<li>
									<a href="about-style-one.html">About Original</a>
								</li>
								<li>
									<a href="about-style-two.html">About Style 2</a>
								</li>
								<li>
									<a href="about-style-three.html">About Style 3</a>
								</li>
								<li>
									<a href="contact-style-one.html">Contact Original</a>
								</li>
								<li>
									<a href="contact-style-two.html">Contact Style 2</a>
								</li>
								<li>
									<a href="contact-style-three.html">Contact Style 3</a>
								</li>
								<li>
									<a href="404.html">404</a>
								</li>
								<li>
									<a href="500.html">500</a>
								</li>
								<li>
									<a href="maintenance.html">Maintenance</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Blog</a>
							<ul class="sub-menu">
								<li>
									<a href="blog.html">Blog Grid</a>
								</li>
								<li>
									<a href="blog-alt.html">Blog Grid Alternative</a>
								</li>
								<li>
									<a href="blog-sidebar-right-with-media.html">Blog Index Sidebar Right</a>
								</li>
								<li>
									<a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
								</li>
								<li>
									<a href="blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
								</li>
								<li>
									<a href="blog-single-post-wide-no-sidebar.html">Single Post Without Sidebar</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Shop</a>
							<ul class="sub-menu">
								<li>
									<a href="shop-grid.html">Shop Grid</a>
								</li>
								<li>
									<a href="shop-creative.html">Shop Creative</a>
								</li>
								<li>
									<a href="shop-sidebar-right.html">Shop Sidebar Right</a>
								</li>
								<li>
									<a href="single-product.html">Single Product</a>
								</li>
								<li>
									<a href="single-product-center.html">Single Product Minimal</a>
								</li>
								<li>
									<a href="single-product-with-gallery.html">Product With Gallery</a>
								</li>
								<li>
									<a href="single-product-on-sale.html">Product On Sale</a>
								</li>
								<li>
									<a href="single-product-no-stock.html">Product Out Of Stock</a>
								</li>
								<li>
									<a href="cart.html">Cart</a>
								</li>
								<li>
									<a href="checkout.html">Checkout</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Projects</a>
							<ul class="sub-menu">
								<li>
									<a href="project-style-one.html">Project Style One</a>
								</li>
								<li>
									<a href="project-style-two.html">Project Style Two</a>
								</li>
								<li>
									<a href="project-style-three.html">Project Style Three</a>
								</li>
								<li>
									<a href="project-style-four.html">Project Style Four</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Elements</a>
							<ul class="sub-menu">
								<li>
									<a href="elements-accordions.html">Accordions</a>
								</li>
								<li>
									<a href="elements-buttons.html">Buttons</a>
								</li>
								<li>
									<a href="elements-feature-columns.html">Feature Columns</a>
								</li>
								<li>
									<a href="elements-footers.html">Footers</a>
								</li>
								<li>
									<a href="elements-forms.html">Forms</a>
								</li>
								<li>
									<a href="elements-lightbox.html">Lightbox</a>
								</li>
								<li>
									<a href="elements-maps.html">Maps</a>
								</li>
								<li>
									<a href="elements-pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="elements-progress-bars.html">Progress Bars</a>
								</li>
								<li>
									<a href="elements-rollovers.html">Rollovers</a>
								</li>
								<li>
									<a href="elements-signup-forms.html">Subscribe Forms</a>
								</li>
								<li>
									<a href="elements-slider.html">Slider</a>
								</li>
								<li>
									<a href="elements-tabs.html">Tabs</a>
								</li>
								<li>
									<a href="elements-testimonials.html">Testimonials</a>
								</li>
								<li>
									<a href="elements-video.html">Video</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer left">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Side Navigation Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header width-auto header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="480">
				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="index.html"><img src="/assets/images/logo.png" alt="Balzac Logo" /></a>
									<a href="index.html"><img src="/assets/images/logo-dark.png" alt="Balzac Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>
									<li2 class="sub-menu-left">
										<!-- Dropdown Cart Overview -->
										<ul class="sub-menu custom-content cart-overview">
											<li class="cart-item">
												<a href="single-product.html" class="product-thumbnail">
													<img src="/assets/images/shop/cart/cart-thumb-small.jpg" alt="" />
												</a>
												<div class="product-details">
													<a href="single-product.html" class="product-title">
														Balzac Book Of Design
													</a>
													<span class="product-quantity">2 x</span>
													<span class="product-price"><span class="currency">$</span>15.00</span>
													<a href="#" class="product-remove icon-cancel"></a>
												</div>
											</li>
											<li class="cart-item">
												<a href="single-product.html" class="product-thumbnail">
													<img src="/assets/images/shop/cart/cart-thumb-small-2.jpg" alt="" />
												</a>
												<div class="product-details">
													<a href="single-product.html" class="product-title">
														Catch The Wave T
													</a>
													<span class="product-quantity">2 x</span>
													<span class="product-price"><span class="currency">$</span>45.00</span>
													<a href="#" class="product-remove icon-cancel"></a>
												</div>
											</li>
											<li class="cart-item">
												<a href="single-product.html" class="product-thumbnail">
													<img src="/assets/images/shop/cart/cart-thumb-small-3.jpg" alt="" />
												</a>
												<div class="product-details">
													<a href="single-product.html" class="product-title">
														Vintage Leather Bag
													</a>
													<span class="product-quantity">2 x</span>
													<span class="product-price"><span class="currency">$</span>17.00</span>
													<a href="#" class="product-remove icon-cancel"></a>
												</div>
											</li>
											<li class="cart-subtotal">
												Sub Total
												<span class="amount"><span class="currency">$</span>77.00</span>
											</li>
											<li class="cart-actions">
												<a href="cart.html" class="view-cart mt-10">View Cart</a>
												<a href="checkout.html" class="checkout button small"><span class="icon-check"></span> Checkout</a>
											</li>
										</ul>
									</li>
									<li class="aux-navigation">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show overlay-nav-show nav-icon">
											<span class="icon-menu"></span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Full Width Slider Section -->
				<section class="section-block featured-media tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-nav-show-on-hover="false" data-scale-under="960" data-speed="1100" data-scale-min-height="400">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-animation="slide" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.45">
								<div class="tms-content">
									<div class="tms-content-inner left">
										<div class="row">
											<div class="column width-7">
												<h1 class="title-large color-white mb-30">
													<span class="tms-caption no-transition" data-no-scale>Tomorrow Media</span>
												</h1>
											</div>
											<div class="column width-7">
												<p class="tms-caption no-transition text-medium weight-regular color-white"
													data-no-scale
												>
													Creative Agency building amazing things. Located in Sarnia, Ontario.
												</p>
											</div>
										</div>
									</div>
								</div>
								<img data-src="assets/images/slider/cover.jpg" data-retina src="/assets/images/cover.jpg" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section End -->

				<!-- Divider -->
				<div class="section-block pt-0 pb-0">
					<div class="row">
						<div class="column width-12">
							<hr class="thick no-margins">
						</div>
					</div>
				</div>
				<!-- Divider End -->

				<!-- Portfolio Grid -->
				<div class="section-block grid-filter-menu right left-on-mobile" data-target-grid="#recent-work">
					<div class="row">
						<div class="column width-12">
							<ul>
								<li>Categories:</li>
								<li><a class="active scroll-link" href="#recent-work" data-offset="-260" data-filter="*">All <sup class="project-count"></sup></a></li>
								<li><a class="scroll-link" href="#recent-work" data-offset="-260" data-filter=".design">Design <sup class="project-count">3</sup></a></li>
								<li><a class="scroll-link" href="#recent-work" data-offset="-260" data-filter=".marketing">Marketing <sup class="project-count"></sup></a></li>
								<li><a class="scroll-link" href="#recent-work" data-offset="-260" data-filter=".photography">Photograhy <sup class="project-count"></sup></a></li>
								<li><a class="scroll-link" href="#recent-work" data-offset="-260" data-filter=".web">Web <sup class="project-count"></sup></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="recent-work" class="section-block grid-container no-margins fade-in-progressively pt-0" data-layout-mode="masonry" data-grid-ratio="1" data-animate-filter-duration="1000" data-set-dimensions data-animate-resize data-animate-resize-duration="700">
					<div class="row">
						<div class="column width-12">
							<h4 class="vertical-title mb-mobile-50">Portfolio</h4>
						</div>
					</div>
					<div class="row">
						<div class="column width-12">
							<div class="row grid content-grid-3">

                                {% for project in site.projects %}
                                <div class="grid-item grid-sizer design">
									<div class="thumbnail overlay-slide-in-top img-scale-in horizon color-white" data-animate-in="preset:scaleIn;duration:300ms;" data-threshold="0.2" data-hover-easing="easeInOutCirc" data-hover-speed="500" data-hover-bkg-color="{{project.thumbnail_color}}" data-hover-bkg-opacity="1">
										<a class="overlay-link" href="{{project.url}}">
											<img src="{{project.thumbnail}}" alt=""/>
											<span class="overlay-info">
												<span>
													<span>
														<span class="project-title">{{project.project_name}}</span>
														<span class="project-description">{{project.tagline}}</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
                                {% endfor %}

							</div>
						</div>
					</div>
				</div>
				<!-- Portfolio Grid End -->

				<!-- Recent Posts -->

				<!-- Recent Posts End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
	{% include footer.html %}
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="/assets/js/timber.master.min.js"></script>
</body>
</html>
